<div id="home-wrapper">
	<h1 class="name">Dennis James Stelmach</h1>
	<p class="bio">I am a developer that converts your ideas from paper to screen. I specialize in back-end work such as databases and security, but I am very experienced with front end development and design. I'm not just good for web development; I have experience in
		all sorts of computer related fields such as application development, video game development, I.T., and system administration and networking.</p>
	<mat-divider></mat-divider>
	<div class="content-wrapper">
		<div>
			<h2>Projects</h2>
			<app-projects></app-projects>
		</div>
		<mat-divider [vertical]="true"></mat-divider>
		<div>
			<h2>Experience</h2>
			<app-experience></app-experience>
		</div>
	</div>
</div>